body{
  
  font-family: sans-serif;
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p{
	font-family: sans-serif;
}
section{
	border: 10px lightgray;
	height: 96vh;
	display: flex;
	align-items:center;
	justify-content: center;

}


h1{
	color: solid black;
}
