/*Background Image + Font  */

/*https://www.freepik.com/free-photo/cloud-sky-twilight-times_3817728.htm#query=sky&position=1&from_view=keyword */
/*Image reference above*/

body {
	font-family: sans-serif;
	background-image: url("sky.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Centered Main Text */
section {
	border: 10px lightgray;
	height: 96vh;
	display: flex;
	align-items: center;
	justify-content: center;

}
/* Text allignment only for home.  */
.container {
	height: 15vh;
	text-align: center;
	width: 700px;
}

* {
	box-sizing: border-box;
}
/* Text allignment for all pages except home.  */ 
.container1 {
	height: 90vh;
	text-align: center;
	width: 1100px;
}
/* Image aligment for personal profile */ 
.row::after {
	content: "";
	clear: both;
	display: table;
}
/* Image aligment for personal profile */ 
.column {
	float: left;
	width: 35%;
	/* Padding inbetween images */
	padding: 5px;
}

/* Header 1 changes to colour and underline all H1 only */
h1 {
	color: solid black;
	text-decoration: underline;
}

/* Alignment for text in centre */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: monospace;
	text-align: center;
}

/* Index Menu*/
li {
	display: inline;
	font-family: monospace;
	text-align: center;
	font-size: large;
}
/* font size for paragraphs */
p {
	font-size: large;
}