/*Background Image + Font  */

/*https://www.freepik.com/free-photo/cloud-sky-twilight-times_3817728.htm#query=sky&position=1&from_view=keyword */
/*Image reference above*/
body{
  font-family: monospace;
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Centered Main Text */
section {
	border: 10px lightgray;
	height: 96vh;
    display: flex;
	align-items:center;
	justify-content: center;

}

.container {
	height: 15vh;
	text-align: center;
	width: 700px;
    }

.container1 {
		height: 90vh;
		text-align: center;
		width: 1100px;
		}
	

h1  {
	color: solid black;
    }


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: monospace;
	text-align: center;	
    }
  
/* Index Menu*/
li {
	display: inline;
	font-family: monospace;
	text-align: center;
	font-size: large;
    }
p {
	font-size: large;
    }